
#content{
  margin: 0 auto;
  text-align: center;
  vertical-align:middle;
}

.garita{
  font-size: 4em;
}

.cross{
  font-size: 2.5em;
   padding: 1px 0;
  display: block; 
}

.time{
 font-size: 2.5em; 
 margin: 5px;
 padding: 1px 0;
 display: block; 
 font-weight:bold;
}

.subport{
 font-size: 1.5em;
 padding: 1px 0;
 display: block; 
}
.lines{
 font-size: 1.5em; 
}

.jump{
  padding: 1px 0;
  display: block; 
}


.OK{
  color: #66A366;
}
.WARNING{
  color: #FFA319;
}
.CRITICAL{
  color: #D63333;
}